<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>StudentCreate</servlet-name>
  	<display-name>StudentCreate</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.StudentCreate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLogin</servlet-name>
  	<display-name>StudentLogin</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.StudentLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherCreate</servlet-name>
  	<display-name>TeacherCreate</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.TeacherCreate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherLogin</servlet-name>
  	<display-name>TeacherLogin</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.TeacherLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertResult</servlet-name>
  	<display-name>InsertResult</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.InsertResult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateResult</servlet-name>
  	<display-name>UpdateResult</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.UpdateResult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteResult</servlet-name>
  	<display-name>DeleteResult</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.DeleteResult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentDisplay</servlet-name>
  	<display-name>StudentDisplay</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.StudentDisplay</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewResult</servlet-name>
  	<display-name>ViewResult</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.ViewResult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmentController</servlet-name>
  	<display-name>AssignmentController</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.AssignmentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmnetDisplayController</servlet-name>
  	<display-name>AssignmnetDisplayController</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.AssignmnetDisplayController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeePaymentController</servlet-name>
  	<display-name>FeePaymentController</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.FeePaymentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeePaymentDisplayController</servlet-name>
  	<display-name>FeePaymentDisplayController</display-name>
  	<description></description>
  	<servlet-class>stud.Controller.FeePaymentDisplayController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentCreate</servlet-name>
  	<url-pattern>/StudentCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentLogin</servlet-name>
  	<url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherCreate</servlet-name>
  	<url-pattern>/TeacherCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherLogin</servlet-name>
  	<url-pattern>/TeacherLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertResult</servlet-name>
  	<url-pattern>/InsertResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateResult</servlet-name>
  	<url-pattern>/UpdateResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteResult</servlet-name>
  	<url-pattern>/DeleteResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentDisplay</servlet-name>
  	<url-pattern>/StudentDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewResult</servlet-name>
  	<url-pattern>/ViewResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmentController</servlet-name>
  	<url-pattern>/AssignmentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmnetDisplayController</servlet-name>
  	<url-pattern>/AssignmnetDisplayController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeePaymentController</servlet-name>
  	<url-pattern>/FeePaymentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeePaymentDisplayController</servlet-name>
  	<url-pattern>/FeePaymentDisplayController</url-pattern>
  </servlet-mapping>
</web-app>
